<main>
  <div class='card mt-2'>
    <div class='card-body'>
      <div class='row'>
        <div class='col-9'>
          <h1>Pages catalog</h1>
        </div>
        <div class='col-3 p-3'>
          <h4>Resume project</h4>
        </div>
      </div>

    </div>
  </div>
  <div class='row'>
    <div class='col-6'>
      <a
        class='btn btn-primary m-2 col-5'
        href='/shopcatalog'
        role='button'
      >ShopCatalog</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/shophome'
        role='button'
      >Shophome</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/shoporder'
        role='button'
      >ShopOrder</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/shopcart'
        role='button'
      >ShopCart</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/shopprofile'
        role='button'
      >ShopProfile</a><br />
      <a
        class='btn btn-primary col-5 m-2'
        href='/shopreview'
        role='button'
      >ShopReview</a><br />

      <a
        class='btn btn-primary m-2 col-5'
        href='/facebook'
        role='button'
      >Facebook</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/car'
        role='button'
      >Car</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/js'
        role='button'
      >JS</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/mac'
        role='button'
      >Mac</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/task21'
        role='button'
      >Task21</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/task22'
        role='button'
      >Task22</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/summary'
        role='button'
      >Summary</a><br />
    </div>
    <div class='col-6'>
      <a
        class='btn btn-primary m-2 col-5'
        href='/skills'
        role='button'
      >Skills</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/education'
        role='button'
      >Education</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/work'
        role='button'
      >Work</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/person'
        role='button'
      >person</a><br />
      <a
        class='btn btn-primary m-2 col-5'
        href='/bio'
        role='button'
      >Bio</a><br />
      <a
        class='btn btn-primary col-5 m-2'
        href='/program'
        role='button'
      >Program</a><br />

      <a
        class='btn btn-primary m-2 col-5'
        href='/web'
        role='button'
      >web</a><br />

    </div>
  </div>
  <hr />
</main>