<div>
  {{#with main}}
    <main>
    <section>
      {{>title h1=true data=summary.title}}
      <div>
        <p>
          {{summary.text}}
        </p>
      </div>
    </section>

    <section>
      {{>title  h2=true data=experience.title}}
       
       {{#with experience}}
      <div>
        <p>
          {{text}}
        </p>
      </div>
      {{/with}}
    </section>
  </main>
{{/with}}
</div>
