<div class='card'>
  <div class='card-header text-bg-warning'>
    <h6>{{data.header}}</h6>
  </div>
  <div class='card-body text-bg-warning'>
    <h5 class='card-title'>{{data.title}}</h5>
    <p>{{data.description}}</p>
  </div>
</div>