<div class='card'>
  <div class='card-body'>
    {{#with data}}

      <h3 class='h3'>{{title}}</h3>
      <p class='h5'>{{text}}</p>

      <div>
        <button class='btn btn-primary'><span
          >{{button_text.solid}}</span></button>
        <br /><br />
        <button
          class='btn btn-outline-primary'
        >{{button_text.outline}}</button>
      </div>

    {{/with}}
  </div>

</div>
<br />