<div class='mt-2'>
  <div class='card'>

    <div class='card-body ps-4'>
      <h6>{{data.title}}</h6>
      <a
        class='btn btn-primary'
        href={{data.button.link}}
        role='button'
      >{{data.button.text}}</a>
    </div>
  </div>
</div>