<div class='card' style='width: 18rem;'>
  <div class='card-header'>
    <h6>{{data.header}}</h6>
  </div>
  <div class='card-body text-bg-secondary'>
    <h5 class='card-title'>{{data.title}}</h5>
    <p>{{data.description}}</p>
  </div>

  <div class='card-footer'>
    {{! <button class='btn btn-dark btn-sm'>UpdateList</button> }}
  </div>
</div>