<div class='mb-2'>
  <label class='form-label'>{{data.label}}</label>
  <input
    class='form-control'
    placeholder={{data.placeholder}}
  />
  <div
    class='form-text text-secondary'
  >{{data.caption}}</div>
</div>