<div>
  <select class='form-select' aria-label={{data.label}}>
    <option selected>{{data.placeholder}}</option>
    {{#each data.options}}
      <option value={{this.value}}>{{this.text}}</option>
    {{/each}}
  </select>

</div>