<div class='card'>
  <div class='card-body'>
    {{#with data}}
      <p class='dispaly-4'>{{title}}</p><br />
      <p class='dispaly-6'>{{sub_title}}</p><br />
      <p class='dispaly-6'><strong
        >{{description}}</strong></p><br />
      <button
        class='btn btn-outline-warning'
      >{{button}}</button><br />
    {{/with}}
  </div>
</div>